body {
    margin: 0;
}

.preloader {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

.circle {
    width: 110px;
    height: 110px;
    border: 3px solid white;
    border-radius: 100%;
    border-block-start-color: #1e1e1e;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
    
}

.preloader-text {
    font-family: "DM Sans", sans-serif;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    -webkit-text-stroke: 0.5px #d1d1d1;
    text-transform: uppercase;
    letter-spacing: 20px;
    background-image: linear-gradient(90deg, transparent 0% 16.66%, #fff 33.33% 50%,  transparent 66.66% 75%);
    background-size: 500%;
    background-clip: text;
    animation: loadingText linear 2s infinite;
}


.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.topbar {
    display: flex;
    justify-content: center;
    height: 90px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    background: transparent;
    align-items: center;
    transition: 0.5s;
}

.nav {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4vw;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: white;
    font-family: "Raleway", system-ui;
    font-size: 25px;
    position: relative;
    transition: 0.3s;
    height: 100%;
    font-weight: 500;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--blue);
}


.hero-section {
    height: 100vh;
    user-select: none;
}

.slide-item {
    position: relative;
    height: 100vh;
    user-select: none;
}

.slider-img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    transition: 0.9s;
    user-select: none;
    filter: brightness(35%);
}

.slider-img.animate {
    animation: zoom 11s linear;
}

.slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    user-select: none;
    box-shadow: inset 10000px 10000px rgba(0, 0, 0, 1);
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 35;
    align-items: center;
    padding-inline: 4vw;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-header {
    animation: fade 1s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: "Forum", serif;
    font-size: 60px;
    transform: translateY(70px);
    color: white;
    margin-block: 10px;
    text-align: center;
}

/* Link Button Animation */
.slide-sub {
    animation: fade 1s ease-in-out;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(70px);
    color: white;
    max-width: 600px;
    width: 100%;
    font-family: "Raleway", system-ui;
    font-size: 25px;
    position: relative;
    transition: 0.3s;
    height: 100%;
    font-weight: 400;
    text-align: center;
}

/* Keyframes */
@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}


.menu__btn > span,
.menu__btn > span::after,
.menu__btn > span::before {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: var(--darkblack);
  border-radius: 30px;

  transition: 0.5s;
}

#menu__toggle {
  opacity: 0;
  width: unset !important;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span::after {
  background-color: #fff;
}

.menu__btn > span::before {
  background-color: #fff;
}

.menu__btn > span {
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  background-color: #fff;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 30px;
  height: 36px;
  cursor: pointer;
  z-index: 6;
}

.hamburger-menu {
    display: none;
    z-index: 999;
}

.menu__btn > span::before {
  content: "";
  top: -10px;
}

.menu__btn > span::after {
  content: "";
  top: 10px;
}

#menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::before,
#menu__toggle:checked ~ .menu__btn > span::after {
  background-color: #fff; /* Change to white when toggled */
}

.menu {
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: -100%;
    right: 0;
    background-color: #000;
    z-index: 555;
    padding-inline: 4vw;
    opacity: 0;
    transition: 0.6s;
}

.visible {
    top: 0;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
}

.menu-content {
    max-width: 1280px;
    width: 100%;
    padding-top: 120px;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    list-style: none;
}

.menu-nav-link {
    color: white;
    font-family: "Raleway", system-ui;
    font-size: 30px;
    position: relative;
    transition: 0.3s;
    height: 100%;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-list {
        display: none;
    }

    .preloader-text {
        font-size: 50px;
    }
}

@media (max-width: 450px) {
    .slide-header {
        font-size: 50px;
    }

    .slide-sub {
        font-size: 20px;
    }
}