html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.preloader {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

.circle {
    width: 110px;
    height: 110px;
    border: 3px solid white;
    border-radius: 100%;
    border-block-start-color: #1e1e1e;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
    
}

.preloader-text {
    font-family: "DM Sans", sans-serif;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    -webkit-text-stroke: 0.5px #d1d1d1;
    text-transform: uppercase;
    letter-spacing: 20px;
    background-image: linear-gradient(90deg, transparent 0% 16.66%, #fff 33.33% 50%,  transparent 66.66% 75%);
    background-size: 500%;
    background-clip: text;
    animation: loadingText linear 2s infinite;
}


.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.topbar {
    display: flex;
    justify-content: center;
    height: 90px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    background: transparent;
    align-items: center;
    transition: 0.5s;
}

.nav {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4vw;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 35px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-link {
    color: white;
    font-family: "Raleway", system-ui;
    font-size: 25px;
    position: relative;
    transition: 0.3s;
    height: 100%;
    font-weight: 500;
    cursor: pointer;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transition: 0.3s;
}

.nav-link:hover::before {
    width: 100%;
}


.hero-section {
    height: 100vh;
    user-select: none;
}

.slide-item {
    position: relative;
    height: 100vh;
    user-select: none;
}

.slider-img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    transition: 0.9s;
    user-select: none;
    filter: brightness(35%);
}

.slider-img.animate {
    animation: zoom 11s linear;
}

.slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    user-select: none;
    box-shadow: inset 10000px 10000px rgba(0, 0, 0, 1);
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 35;
    align-items: center;
    padding-inline: 4vw;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-header {
    animation: fade 1s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: "Forum", serif;
    font-size: 60px;
    transform: translateY(70px);
    color: white;
    margin-block: 10px;
    text-align: center;
}

/* Link Button Animation */
.slide-sub {
    animation: fade 1s ease-in-out;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(70px);
    color: white;
    max-width: 600px;
    width: 100%;
    font-family: "Raleway", system-ui;
    font-size: 25px;
    position: relative;
    transition: 0.3s;
    height: 100%;
    font-weight: 400;
    text-align: center;
}

/* Keyframes */
@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}


.menu__btn > span,
.menu__btn > span::after,
.menu__btn > span::before {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: var(--darkblack);
  border-radius: 30px;

  transition: 0.5s;
}

#menu__toggle {
  opacity: 0;
  width: unset !important;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span::after {
  background-color: #fff;
}

.menu__btn > span::before {
  background-color: #fff;
}

.menu__btn > span {
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  background-color: #fff;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 30px;
  height: 36px;
  cursor: pointer;
  z-index: 6;
}

.hamburger-menu {
    display: none;
    z-index: 999;
}

.menu__btn > span::before {
  content: "";
  top: -10px;
}

.menu__btn > span::after {
  content: "";
  top: 10px;
}

#menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::before,
#menu__toggle:checked ~ .menu__btn > span::after {
  background-color: #fff; /* Change to white when toggled */
}

.menu {
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: -100%;
    right: 0;
    background-color: #000;
    z-index: 555;
    padding-inline: 4vw;
    opacity: 0;
    transition: 0.6s;
}

.visible {
    top: 0;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
}

.menu-content {
    max-width: 1280px;
    width: 100%;
    padding-top: 120px;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    list-style: none;
}

.menu-nav-link {
    color: white;
    font-family: "Raleway", system-ui;
    font-size: 30px;
    position: relative;
    transition: 0.3s;
    height: 100%;
    font-weight: 500;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: center;
    padding-inline: 4vw;
}

.about {
    padding-block: 80px;
    height: 100%;
}

.about-header {
    margin: 0;
}

.section-content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.section-header {
    font-family: "Forum", serif;
    font-size: 50px;
    color: #000;
    text-align: center;
}

.about-text {
    font-family: "Raleway", system-ui;
    font-size: 20px;
    color: #2e2e2e;
    max-width: 800px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: start;
    display: flex;
    transition: 0.5s height;
    margin-top: 20px;
    position: relative;
}

.about-text.shadow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


.read-more-btn {
    width: 200px;
    min-height: 50px;
    max-height: 50px;
    height: 100%; 
    border: 1px solid #000;
    box-sizing: border-box;
    font-family: "Raleway", system-ui;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 0.3s;
}

.read-more-btn:hover {
    background-color: #000;
    color: #fff;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.work {
    padding-block: 80px;
}

.card-content {
    max-width: 450px;
    width: 100%;
    min-height: 180px;
    max-height: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-inline: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.card {
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 25px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    transition: 0.3s;
    min-height: 430px;
    max-height: 430px;
    height: 100%;
}

.card-header {
    font-family: "Forum", serif;
    font-size: 35px;
    color: #000;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.card:hover {
    transform: scale(1.1);
}

.card-img {
    max-width: 450px;
    width: 100%;
    max-height: 250px;
    aspect-ratio: 16 / 9;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.card-link {
    max-width: 450px; /* Match max-width with .card */
    width: 100%;
    height: 50px;
    font-family: "Raleway", system-ui;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #000;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    transition: 0.9s;
    text-decoration: none;
}

.card-link span {
    z-index: 2;
}

.work {
    transition: 0.3s;
}

.card-link::after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #000;
    position: absolute;
    right: 0%;
    top: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.card-link::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0%;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
    opacity: 0;
}

.card-sub {
    font-family: "Raleway", system-ui;
    font-size: 20px;
    display: none;
    font-weight: 400;
}

.card-link:hover::after {
    opacity: 1;
    width: 50%;
}

.card-link:hover::before {
    opacity: 1;
    width: 50%;
}

.card-link:hover {
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    padding-inline: 4vw;
    background-color: #000;
    height: 100px;
    align-items: center;
}

.footer-content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.form {
    width: 900px;
    height: 500px;
    background-color: #000;
    display: flex;
    align-items: center;
    padding-inline: 30px;
    gap: 40px;
    padding-block: 30px;
    justify-content: space-between;
}

.form-left {
    width: 100%;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    padding-top: 10px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 10px;
}

.label {
    font-family: "Lexend Giga", sans-serif ;
    font-size: 24px;
    color: #fff;
    transition: 0.3s;
    position: absolute;
    top: 6px;
    z-index: 1;
    pointer-events: none;
}

.active {
    color: #1ED9D9;
    top: -25px;
}

textarea {
    height: 100%;
    width: calc(100% - 10px);
    resize: none;
    background-color: transparent;
    border: 1px solid #454545;
    outline: none;
    color: #d1d1d1;
    font-size: 20px;
    font-family: "Lexend Giga", sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    grid-column: span 1;
    grid-row: span 3;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    grid-row: span 2;
    grid-column: span 1;
}

.submit-btn {
    height: 50px;
    width: 200px;
    font-family: "Lexend Giga", sans-serif;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    transition: 0.3s;
    height: 40px;
    color: #d1d1d1;
    font-size: 20px;
    font-family: "Lexend Giga", sans-serif;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focused {
    border-bottom: 1px solid #eee;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact-link {
    font-size: 18px;
    color: #fff;
    font-family: "Lexend Giga", sans-serif;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-link:hover {
    text-decoration: underline;
}



@media (max-width: 980px) {
    .form-right {
        height: 90%;
        width: 50%;
    }

    textarea {
        width: calc(100% - 10px);
    }

    .form {
        width: 660px;
    }

    .contact {
        height: 700px;
    }
}

@media (max-width: 750px) {
    .form {
        width: 100%;
        flex-direction: column;
        height: auto; /* Adjust height to auto for better content fitting */
    }

    .contact {
        overflow: hidden;
        padding-bottom: 0;
        height: auto; /* Adjust height to auto for better responsiveness */
    }

    .contact-content {
        padding-inline: 4vw;
    }

    .contact-info {
        display: none;
    }

    .contact-info-2 {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .contact-link {
        color: #EF2571;
    }

    .form-left {
        width: 100%;
        margin-bottom: 20px; /* Add margin for spacing */
    }

    .form-right {
        width: 100%; /* Adjust width to 100% for full width on small screens */
        height: auto; /* Adjust height to auto for better fitting */
        margin-bottom: 20px; /* Add margin for spacing */
    }

    textarea {
        width: calc(100% - 10px);
        order: 2;
        margin-top: 10px; /* Add margin for spacing */
    }

    .inputs {
        order: 1;
        margin-bottom: 10px; /* Add margin for spacing */
    }

    .buttons {
        order: 3;
        margin-top: 10px; /* Add margin for spacing */
    }

    .inputs {
        grid-column: span 2;
        grid-row: span 1;
    }

    textarea {
        grid-column: span 2;
        grid-row: span 1;
    }

    .buttons {
        grid-column: span 2;
        grid-row:  span 1;
    }

    .contact-header {
        font-size: 60px;
    }
}


@media (max-width: 1100px) {
    .cards {
        flex-direction: column;
    }

    .card {
        max-width: unset;
        width: 100%;
        display: flex;
    }

    .card-img {
        height: 100%;
        max-height: unset;
        min-width: 350px;
    }

    .card:hover {
        transform: scale(1.03);
    }

    .card-sub {
        display: flex;
        margin-top: 20px;
    }

    .card-content {
        max-height: unset;
    }

    .card-header {
        font-size: 45px;
    }

}

@media (max-width: 700px) {
    .card {
        flex-direction: column;
        min-height: 550px;
    }

    .card-img {
        max-height: 300px;
        min-height: 300px;
        height: 100%;
        min-width: 350px;
        max-width: 100%;
    }

    .card-content {
        max-width: 100%;
        width: 100%;
    }

    .card-link {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 650px) {
    .card-header {
        font-size: 35px;
        font-weight: 800;
    }
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-list {
        display: none;
    }

    .footer-nav-list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .footer-content {
        flex-direction: column;
        row-gap: 50px;
    }

    .footer {
        height: unset;
        padding-bottom: 100px;
    }

    .preloader-text {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .card-sub {
        display: none;
    }

    .card {
        min-height: 470px;
    }

    .card-content {
        row-gap: 10px;
        min-height: unset;
    }
}

@media (max-width: 450px) {
    .slide-header {
        font-size: 50px;
    }

    .slide-sub {
        font-size: 20px;
    }

    .contact-header {
        font-size: 40px;
    }
}

@media (max-width: 400px) {
    .card-img {
        max-height: 150px;
        min-height: 150px;
        height: 100%;
        min-width: 250px;
    }

    .card {
        min-height: 280px;
    }

    .card-header {
        font-size: 25px;
    }
}

.contact-header {
    text-transform:unset;
}
